@font-face {
  font-family: "HelveticaLight";
  src: url(/media/fonts/helveticaneueltstd-lt-webfont.eot);
  src: url(/media/fonts/helveticaneueltstd-lt-webfont.eot?#iefix) format('embedded-opentype'), url(/media/fonts/helveticaneueltstd-lt-webfont.ttf) format('truetype'), url(/media/fonts/helveticaneueltstd-lt-webfont.woff) format('woff');
}
@font-face {
  font-family: "HelveticaMed";
  src: url(/media/fonts/helveticaneueltstd-md-webfont.eot);
  src: url(/media/fonts/helveticaneueltstd-md-webfont.eot?#iefix) format('embedded-opentype'), url(/media/fonts/helveticaneueltstd-md-webfont.ttf) format('truetype'), url(/media/fonts/helveticaneueltstd-md-webfont.woff) format('woff');
}
@font-face {
  font-family: "HelveticaBold";
  src: url(/media/fonts/helveticaneueltstd-bd-webfont.eot);
  src: url(/media/fonts/helveticaneueltstd-bd-webfont.eot?#iefix) format('embedded-opentype'), url(/media/fonts/helveticaneueltstd-bd-webfont.ttf) format('truetype'), url(/media/fonts/helveticaneueltstd-bd-webfont.woff) format('woff');
}
/* line 3, ../sass/global.scss */
html, body {
  width: 100%;
  font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
  color: #333333;
  line-height: 1.2;
}

/* line 12, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
}

/* line 16, ../sass/global.scss */
ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 22, ../sass/global.scss */
input.error, textarea.error {
  margin: 0 0 1rem 0;
  border-color: #C20000;
}

/* line 27, ../sass/global.scss */
textarea {
  resize: none;
}

/* line 31, ../sass/global.scss */
label {
  font-size: 14px;
}

/* line 35, ../sass/global.scss */
small {
  font-size: 70%;
}

/* line 39, ../sass/global.scss */
.clearfix {
  clear: both;
}

/* line 43, ../sass/global.scss */
.fullsize {
  width: 100%;
}

/* line 47, ../sass/global.scss */
.nomargin {
  margin: 0;
}

/* line 51, ../sass/global.scss */
.orange {
  color: orange;
}

/* line 55, ../sass/global.scss */
.bold {
  font-family: "HelveticaMed", Helvetica, Arial, sans-serif;
}

/* line 59, ../sass/global.scss */
.italic {
  font-style: italic;
}

/* line 63, ../sass/global.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 67, ../sass/global.scss */
.note {
  color: #b7b7b7;
  font-style: italic;
}

/* line 72, ../sass/global.scss */
.button {
  text-transform: uppercase;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  padding: 5px 15px;
  margin: 0;
}
/* line 78, ../sass/global.scss */
.button.big {
  font-size: 20px;
}
/* line 82, ../sass/global.scss */
.button.inactive {
  background: #b7b7b7;
}

/* line 87, ../sass/global.scss */
.checkbox {
  display: none;
}
/* line 90, ../sass/global.scss */
.checkbox + label span {
  display: inline-block;
  zoom: 1;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  margin-right: 5px;
}
/* line 99, ../sass/global.scss */
.checkbox.error + label span {
  border-color: #c20000;
}
/* line 103, ../sass/global.scss */
.checkbox:checked + label span {
  position: relative;
}
/* line 106, ../sass/global.scss */
.checkbox:checked + label span:after {
  content: " ";
  color: white;
  background: url("/media/images/sprites/checkmark.png") no-repeat;
  background-size: 100%;
  width: 15px;
  height: 18px;
  display: block;
  position: absolute;
  top: -6px;
  left: -1px;
}

/* line 121, ../sass/global.scss */
.response {
  font-weight: bold;
}
/* line 124, ../sass/global.scss */
.response .error {
  color: #c20000;
  margin: 0;
  padding: 0;
  font-weight: bold;
  background: #fff;
}

/* line 133, ../sass/global.scss */
.block {
  margin-bottom: 15px;
}
/* line 136, ../sass/global.scss */
.block .block-title {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  background: orange;
  color: #fff;
  font-family: "HelveticaLight", Helvetica, Arial, sans-serif;
  padding: 5px 15px;
  font-size: 18px;
}
/* line 145, ../sass/global.scss */
.block .block-content {
  border: 1px solid #b7b7b7;
  padding: 10px 15px;
}
/* line 151, ../sass/global.scss */
.block.big .block-title {
  float: left;
  margin-left: 15px;
}
/* line 156, ../sass/global.scss */
.block.big .block-content {
  clear: left;
}

/* line 163, ../sass/global.scss */
img.landscape {
  width: 100%;
  height: auto;
}
/* line 168, ../sass/global.scss */
img.portrait {
  width: auto;
  height: 100%;
}

/* line 174, ../sass/global.scss */
.close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  z-index: 999;
}

/* line 181, ../sass/global.scss */
.pagination {
  margin: 10px 0;
}
/* line 184, ../sass/global.scss */
.pagination a {
  color: #333333;
  margin: 0 3px;
}
/* line 188, ../sass/global.scss */
.pagination a.current {
  color: orange;
  font-family: "HelveticaMed", Helvetica, Arial, sans-serif;
}

/* line 195, ../sass/global.scss */
.bullet-pagination {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
}
/* line 200, ../sass/global.scss */
.bullet-pagination .pagination {
  display: inline;
  margin: 0 5px;
}
/* line 204, ../sass/global.scss */
.bullet-pagination .pagination a {
  font-size: 1px;
  color: transparent;
}

/* line 211, ../sass/global.scss */
.popover {
  display: none;
}

/* line 215, ../sass/global.scss */
.form {
  margin: 0;
}
/* line 218, ../sass/global.scss */
.form .individual-response {
  display: table;
  margin-top: 22px;
}
/* line 222, ../sass/global.scss */
.form .individual-response .notif-block {
  float: left;
}
/* line 225, ../sass/global.scss */
.form .individual-response .notif-block, .form .individual-response .notif-block + span {
  display: table-cell;
}
/* line 229, ../sass/global.scss */
.form .individual-response .notif-block + span.error, .form .individual-response .notif-block + small.error {
  background: none;
  color: #c20000;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  vertical-align: middle;
}
/* line 240, ../sass/global.scss */
.form .file-browser {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* line 253, ../sass/global.scss */
.link {
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}
