@font-face {
  font-family: "HelveticaLight";
  src: url(/media/fonts/helveticaneueltstd-lt-webfont.eot);
  src: url(/media/fonts/helveticaneueltstd-lt-webfont.eot?#iefix) format('embedded-opentype'), url(/media/fonts/helveticaneueltstd-lt-webfont.ttf) format('truetype'), url(/media/fonts/helveticaneueltstd-lt-webfont.woff) format('woff');
}
@font-face {
  font-family: "HelveticaMed";
  src: url(/media/fonts/helveticaneueltstd-md-webfont.eot);
  src: url(/media/fonts/helveticaneueltstd-md-webfont.eot?#iefix) format('embedded-opentype'), url(/media/fonts/helveticaneueltstd-md-webfont.ttf) format('truetype'), url(/media/fonts/helveticaneueltstd-md-webfont.woff) format('woff');
}
@font-face {
  font-family: "HelveticaBold";
  src: url(/media/fonts/helveticaneueltstd-bd-webfont.eot);
  src: url(/media/fonts/helveticaneueltstd-bd-webfont.eot?#iefix) format('embedded-opentype'), url(/media/fonts/helveticaneueltstd-bd-webfont.ttf) format('truetype'), url(/media/fonts/helveticaneueltstd-bd-webfont.woff) format('woff');
}
/* line 1, ../sass/_libraryOverwrite.scss */
.breadcrumbs {
  background: transparent;
  border: 0;
  padding: 0 0 20px;
}
/* line 6, ../sass/_libraryOverwrite.scss */
.breadcrumbs a {
  color: #666666;
}

/* line 26, ../sass/_sprites.scss */
.sprites {
  display: inline-block;
}
/* line 30, ../sass/_sprites.scss */
.sprites.search {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -280px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 30, ../sass/_sprites.scss */
  .sprites.search {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -279px;
    height: 20px;
    width: 20px;
  }
}
/* line 34, ../sass/_sprites.scss */
.sprites.bullet {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -55px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 13px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 34, ../sass/_sprites.scss */
  .sprites.bullet {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -54px;
    height: 13px;
    width: 13px;
  }
}
/* line 37, ../sass/_sprites.scss */
.sprites.bullet.active {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -42px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 13px;
  width: 13px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 37, ../sass/_sprites.scss */
  .sprites.bullet.active {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -41px;
    height: 13px;
    width: 13px;
  }
}
/* line 42, ../sass/_sprites.scss */
.sprites.facebook {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -132px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 42, ../sass/_sprites.scss */
  .sprites.facebook {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -131px;
    height: 27px;
    width: 25px;
  }
}
/* line 44, ../sass/_sprites.scss */
.sprites.facebook:hover, .sprites.facebook.hover {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -105px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 44, ../sass/_sprites.scss */
  .sprites.facebook:hover, .sprites.facebook.hover {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -104px;
    height: 27px;
    width: 25px;
  }
}
/* line 49, ../sass/_sprites.scss */
.sprites.twitter {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -472px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 49, ../sass/_sprites.scss */
  .sprites.twitter {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -471px;
    height: 27px;
    width: 25px;
  }
}
/* line 51, ../sass/_sprites.scss */
.sprites.twitter:hover, .sprites.twitter.hover {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -445px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 51, ../sass/_sprites.scss */
  .sprites.twitter:hover, .sprites.twitter.hover {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -444px;
    height: 27px;
    width: 25px;
  }
}
/* line 56, ../sass/_sprites.scss */
.sprites.gplus {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -186px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 56, ../sass/_sprites.scss */
  .sprites.gplus {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -185px;
    height: 27px;
    width: 25px;
  }
}
/* line 58, ../sass/_sprites.scss */
.sprites.gplus:hover, .sprites.gplus.hover {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -159px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 58, ../sass/_sprites.scss */
  .sprites.gplus:hover, .sprites.gplus.hover {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -158px;
    height: 27px;
    width: 25px;
  }
}
/* line 63, ../sass/_sprites.scss */
.sprites.rss {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -253px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 63, ../sass/_sprites.scss */
  .sprites.rss {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -252px;
    height: 27px;
    width: 25px;
  }
}
/* line 65, ../sass/_sprites.scss */
.sprites.rss:hover, .sprites.rss.hover {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -226px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 27px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 65, ../sass/_sprites.scss */
  .sprites.rss:hover, .sprites.rss.hover {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -225px;
    height: 27px;
    width: 25px;
  }
}
/* line 70, ../sass/_sprites.scss */
.sprites.minus {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -213px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 3px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 70, ../sass/_sprites.scss */
  .sprites.minus {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -212px;
    height: 3px;
    width: 10px;
  }
}
/* line 74, ../sass/_sprites.scss */
.sprites.plus {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -216px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 10px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 74, ../sass/_sprites.scss */
  .sprites.plus {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -215px;
    height: 10px;
    width: 10px;
  }
}
/* line 78, ../sass/_sprites.scss */
.sprites.arrow-right {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -34px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 8px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 78, ../sass/_sprites.scss */
  .sprites.arrow-right {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -33px;
    height: 8px;
    width: 8.5px;
  }
}
/* line 81, ../sass/_sprites.scss */
.sprites.arrow-right.white {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -26px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 8px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 81, ../sass/_sprites.scss */
  .sprites.arrow-right.white {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -25px;
    height: 8px;
    width: 8.5px;
  }
}
/* line 86, ../sass/_sprites.scss */
.sprites.arrow-left {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 8px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 86, ../sass/_sprites.scss */
  .sprites.arrow-left {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -17px;
    height: 8px;
    width: 8.5px;
  }
}
/* line 94, ../sass/_sprites.scss */
.sprites.arrow-down {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -9px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 9px;
  width: 8px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 94, ../sass/_sprites.scss */
  .sprites.arrow-down {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -9px;
    height: 8px;
    width: 8px;
  }
}
/* line 97, ../sass/_sprites.scss */
.sprites.arrow-down.white {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 9px;
  width: 8px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 97, ../sass/_sprites.scss */
  .sprites.arrow-down.white {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 0;
    height: 8px;
    width: 8px;
  }
}
/* line 102, ../sass/_sprites.scss */
.sprites.cross {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -93px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 12px;
  width: 12px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 102, ../sass/_sprites.scss */
  .sprites.cross {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -92px;
    height: 12px;
    width: 12px;
  }
}
/* line 106, ../sass/_sprites.scss */
.sprites.wrong {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -499px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 23px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 106, ../sass/_sprites.scss */
  .sprites.wrong {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -498px;
    height: 22px;
    width: 24px;
  }
}
/* line 110, ../sass/_sprites.scss */
.sprites.check {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -68px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 110, ../sass/_sprites.scss */
  .sprites.check {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -67px;
    height: 25px;
    width: 26px;
  }
}
/* line 114, ../sass/_sprites.scss */
.sprites.share-facebook {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -300px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 114, ../sass/_sprites.scss */
  .sprites.share-facebook {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -299px;
    height: 30px;
    width: 30px;
  }
}
/* line 118, ../sass/_sprites.scss */
.sprites.share-twitter {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -390px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 118, ../sass/_sprites.scss */
  .sprites.share-twitter {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -389px;
    height: 30px;
    width: 30px;
  }
}
/* line 122, ../sass/_sprites.scss */
.sprites.share-gplus {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -330px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 122, ../sass/_sprites.scss */
  .sprites.share-gplus {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -329px;
    height: 30px;
    width: 30px;
  }
}
/* line 126, ../sass/_sprites.scss */
.sprites.share-instagram {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -360px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 30px;
  width: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 126, ../sass/_sprites.scss */
  .sprites.share-instagram {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -359px;
    height: 30px;
    width: 30px;
  }
}
/* line 130, ../sass/_sprites.scss */
.sprites.thumb {
  background-image: url('../images/sprites-sf98170f25f.png');
  background-position: 0 -420px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 130, ../sass/_sprites.scss */
  .sprites.thumb {
    background-image: url('../images/retina-s295101bddc.png');
    background-size: 30px 520.5px;
    background-position: 0 -419px;
    height: 25px;
    width: 25px;
  }
}

/* line 6, ../sass/style.scss */
.price .old {
  text-decoration: line-through;
}
/* line 10, ../sass/style.scss */
.price .new {
  color: orange;
}

/* line 15, ../sass/style.scss */
.thumbnail, #category-page .stores-container .store .store-overlay {
  border: 1px solid #b7b7b7;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 24, ../sass/style.scss */
.thumbnail img, #category-page .stores-container .store .store-overlay img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 35, ../sass/style.scss */
.product-container .product {
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  display: block;
}
/* line 41, ../sass/style.scss */
.product-container .product .thumbnail-container {
  position: relative;
  margin-bottom: 10px;
}
/* line 46, ../sass/style.scss */
.product-container .product .dummy {
  padding-top: 100%;
}
/* line 51, ../sass/style.scss */
.product-container .product .description a {
  display: block;
}
/* line 55, ../sass/style.scss */
.product-container .product .description .brand {
  color: #333333;
  font-family: "HelveticaMed", Helvetica, Arial, sans-serif;
}
/* line 60, ../sass/style.scss */
.product-container .product .description .name {
  color: #666666;
  font-style: italic;
  margin: 5px 0;
}
/* line 69, ../sass/style.scss */
.product-container.horizontal .thumbnail-container {
  margin: 0;
}
/* line 72, ../sass/style.scss */
.product-container.horizontal .thumbnail-container .thumbnail, .product-container.horizontal .thumbnail-container #category-page .stores-container .store .store-overlay, #category-page .stores-container .store .product-container.horizontal .thumbnail-container .store-overlay {
  left: 0.9375em;
  right: 0.9375em;
}
/* line 78, ../sass/style.scss */
.product-container.horizontal .description {
  text-align: left;
  padding-left: 0;
}

/* line 85, ../sass/style.scss */
.sale {
  position: absolute;
  z-index: 1;
  background: orange;
  color: #fff;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Opera, Chrome, and Safari */
  padding: 2px 20px;
  left: -17px;
  top: 5px;
}

/* line 98, ../sass/style.scss */
.sharing {
  border: 1px solid #333333;
  border-right: 0;
  border-left: 0;
  padding: 10px 0 4px;
  margin: 15px 0;
}
/* line 105, ../sass/style.scss */
.sharing ul {
  display: table;
  margin: 0 -5px;
}
/* line 109, ../sass/style.scss */
.sharing ul li {
  display: table-cell;
  padding: 0 5px;
}

/* line 117, ../sass/style.scss */
#header #quick-links {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  padding: 5px 10px;
  background: #333333;
  margin-bottom: 15px;
  position: relative;
}
/* line 124, ../sass/style.scss */
#header #quick-links li {
  display: inline;
  border-right: 1px solid #fff;
  padding: 0 15px;
  color: #fff;
  font-size: 12px;
}
/* line 131, ../sass/style.scss */
#header #quick-links li a {
  color: #fff;
}
/* line 135, ../sass/style.scss */
#header #quick-links li.last {
  border: 0;
}
/* line 142, ../sass/style.scss */
#header #logo {
  padding-top: 20px;
  padding-left: 0;
}
/* line 146, ../sass/style.scss */
#header #logo img {
  height: 60px;
}
/* line 151, ../sass/style.scss */
#header #main-menu {
  margin-bottom: 20px;
  position: relative;
}
/* line 155, ../sass/style.scss */
#header #main-menu section > ul {
  display: table;
  width: 100%;
}
/* line 159, ../sass/style.scss */
#header #main-menu section > ul li {
  float: none;
  display: table-cell;
  text-align: center;
}
/* line 164, ../sass/style.scss */
#header #main-menu section > ul li a {
  -moz-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  font-size: 16px;
}
/* line 168, ../sass/style.scss */
#header #main-menu section > ul li a.hover {
  background: orange;
}
/* line 175, ../sass/style.scss */
#header #main-menu .subcategory {
  -moz-box-shadow: 0 10px 10px -10px #b7b7b7;
  -webkit-box-shadow: 0 10px 10px -10px #b7b7b7;
  box-shadow: 0 10px 10px -10px #b7b7b7;
  position: absolute;
  top: 100%;
  width: 100%;
  background: orange;
  padding: 10px;
  display: none;
  z-index: 999;
}
/* line 185, ../sass/style.scss */
#header #main-menu .subcategory.hover {
  display: block;
}
/* line 189, ../sass/style.scss */
#header #main-menu .subcategory ul {
  display: block;
  float: left;
  margin-right: 50px;
}
/* line 194, ../sass/style.scss */
#header #main-menu .subcategory ul a {
  font-size: 12px;
  color: #333333;
  margin-left: 10px;
}
/* line 199, ../sass/style.scss */
#header #main-menu .subcategory ul a.subtitle {
  margin: 0;
  font-size: 14px;
  font-family: "HelveticaBold", Helvetica, Arial, sans-serif;
}
/* line 209, ../sass/style.scss */
#header #search-container {
  width: 400px;
  margin-bottom: 5px;
}
/* line 214, ../sass/style.scss */
#header #search-container #search-form label {
  background: #333333;
  float: left;
  padding: 6px 6px 1px;
}
/* line 220, ../sass/style.scss */
#header #search-container #search-form .form-group {
  width: 368px;
  float: left;
}
/* line 228, ../sass/style.scss */
#header #login-form label {
  color: white;
}

/* line 232, ../sass/style.scss */
#content {
  overflow: hidden;
}

/* line 237, ../sass/style.scss */
#todays-deal .expiry-date {
  color: #666666;
  font-style: italic;
}
/* line 242, ../sass/style.scss */
#todays-deal .discount {
  font-size: 24px;
  background: orange;
  color: #fff;
  border-radius: 50px;
  padding: 20px 11px;
  display: block;
}
/* line 251, ../sass/style.scss */
#todays-deal .description {
  font-size: 18px;
  color: #666666;
}
/* line 256, ../sass/style.scss */
#todays-deal .price {
  text-align: right;
  margin: 15px 0 30px;
}
/* line 260, ../sass/style.scss */
#todays-deal .price .new {
  font-size: 24px;
  margin-top: 5px;
}

/* line 267, ../sass/style.scss */
#login, #account {
  position: absolute;
  background: #333333;
  top: 90%;
  z-index: 10;
  padding: 15px;
  width: 200px;
  left: 0;
}

/* line 277, ../sass/style.scss */
#footer {
  -moz-box-shadow: inset 0 10px 30px -10px #b7b7b7;
  -webkit-box-shadow: inset 0 10px 30px -10px #b7b7b7;
  box-shadow: inset 0 10px 30px -10px #b7b7b7;
  margin: 20px -15px 0;
  padding: 50px;
}
/* line 282, ../sass/style.scss */
#footer .footer-column {
  width: 20%;
  float: left;
}
/* line 287, ../sass/style.scss */
#footer .footer-block {
  margin-bottom: 10px;
  font-style: italic;
}
/* line 291, ../sass/style.scss */
#footer .footer-block .title {
  font-family: "HelveticaMed", Helvetica, Arial, sans-serif;
}
/* line 295, ../sass/style.scss */
#footer .footer-block ul {
  margin-left: 15px;
}
/* line 298, ../sass/style.scss */
#footer .footer-block ul a {
  color: #333333;
}
/* line 303, ../sass/style.scss */
#footer .footer-block ul.social-media {
  margin: 5px 0 0;
}
/* line 306, ../sass/style.scss */
#footer .footer-block ul.social-media li {
  clear: left;
  margin-bottom: 5px;
}
/* line 308, ../sass/style.scss */
#footer .footer-block ul.social-media i {
  float: left;
  margin-right: 5px;
}
/* line 313, ../sass/style.scss */
#footer .footer-block ul.social-media span {
  line-height: 27px;
}

/* line 2, ../sass/pages/_homepage.scss */
#home-page #carousel {
  overflow: hidden;
}
/* line 5, ../sass/pages/_homepage.scss */
#home-page #carousel li {
  float: left;
}
/* line 10, ../sass/pages/_homepage.scss */
#home-page #promotions {
  margin-bottom: 15px;
}
/* line 14, ../sass/pages/_homepage.scss */
#home-page #banner-list {
  margin-top: 27px;
}
/* line 17, ../sass/pages/_homepage.scss */
#home-page #banner-list li {
  margin-bottom: 15px;
}
/* line 22, ../sass/pages/_homepage.scss */
#home-page #main-menu {
  margin-bottom: 0;
}

/* line 2, ../sass/pages/_category.scss */
#category-page #page-filter {
  margin-bottom: 10px;
}
/* line 7, ../sass/pages/_category.scss */
#category-page #filters .filter-title {
  font-family: "HelveticaMed", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
}
/* line 11, ../sass/pages/_category.scss */
#category-page #filters .filter-title i {
  float: right;
  cursor: pointer;
}
/* line 15, ../sass/pages/_category.scss */
#category-page #filters .filter-title i.minus {
  margin-top: 10px;
}
/* line 18, ../sass/pages/_category.scss */
#category-page #filters .filter-title i.plus {
  margin-top: 6px;
}
/* line 25, ../sass/pages/_category.scss */
#category-page #list-container {
  border-left: 1px solid #b7b7b7;
}
/* line 29, ../sass/pages/_category.scss */
#category-page .product {
  cursor: pointer;
}
/* line 33, ../sass/pages/_category.scss */
#category-page #sorting {
  margin-bottom: 15px;
}
/* line 36, ../sass/pages/_category.scss */
#category-page #sorting li {
  display: inline-block;
}
/* line 39, ../sass/pages/_category.scss */
#category-page #sorting li a {
  color: #333333;
  margin: 0 5px;
}
/* line 44, ../sass/pages/_category.scss */
#category-page #sorting li a:hover, #category-page #sorting li a.active {
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}
/* line 50, ../sass/pages/_category.scss */
#category-page #sorting #subsearch-container {
  position: relative;
}
/* line 53, ../sass/pages/_category.scss */
#category-page #sorting #subsearch-container .form-group {
  padding-right: 30px;
}
/* line 55, ../sass/pages/_category.scss */
#category-page #sorting #subsearch-container input[type="text"] {
  height: 30px;
}
/* line 59, ../sass/pages/_category.scss */
#category-page #sorting #subsearch-container button {
  background: #333333;
  position: absolute;
  top: 0;
  bottom: -3px;
  right: 15px;
  width: 29px;
  padding: 0;
}
/* line 72, ../sass/pages/_category.scss */
#category-page .stores-container .store {
  width: 20%;
  margin-bottom: 20px;
}
/* line 76, ../sass/pages/_category.scss */
#category-page .stores-container .store .thumbnail-container {
  position: relative;
}
/* line 80, ../sass/pages/_category.scss */
#category-page .stores-container .store .dummy {
  padding-top: 50%;
}
/* line 82, ../sass/pages/_category.scss */
#category-page .stores-container .store .store-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 25px 0;
}
/* line 92, ../sass/pages/_category.scss */
#category-page .stores-container .store:hover .store-overlay {
  display: block;
}

/* line 2, ../sass/pages/_product.scss */
#product-page #product-carousel {
  position: relative;
}
/* line 5, ../sass/pages/_product.scss */
#product-page #product-carousel .dummy {
  padding-top: 150%;
}
/* line 9, ../sass/pages/_product.scss */
#product-page #product-carousel .sale {
  font-size: 24px;
  padding: 2px 30px;
  left: -27px;
  top: 10px;
}
/* line 18, ../sass/pages/_product.scss */
#product-page #product-thumbnails-container .thumbnail-container {
  position: relative;
}
/* line 22, ../sass/pages/_product.scss */
#product-page #product-thumbnails-container .dummy {
  padding-top: 100%;
}
/* line 26, ../sass/pages/_product.scss */
#product-page #product-thumbnails-container .thumbnail, #product-page #product-thumbnails-container #category-page .stores-container .store .store-overlay, #category-page .stores-container .store #product-page #product-thumbnails-container .store-overlay {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 29, ../sass/pages/_product.scss */
#product-page #product-thumbnails-container .thumbnail.active, #product-page #product-thumbnails-container #category-page .stores-container .store .active.store-overlay, #category-page .stores-container .store #product-page #product-thumbnails-container .active.store-overlay {
  border-color: orange;
  border-width: 2px;
}
/* line 34, ../sass/pages/_product.scss */
#product-page #product-detail h2.brand {
  font-size: 35px;
}
/* line 38, ../sass/pages/_product.scss */
#product-page #product-detail h1.name {
  font-size: 24px;
  color: #666666;
  font-style: italic;
}
/* line 44, ../sass/pages/_product.scss */
#product-page #product-detail .price {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 25px;
}
/* line 50, ../sass/pages/_product.scss */
#product-page #product-detail ul.colors {
  display: table;
}
/* line 53, ../sass/pages/_product.scss */
#product-page #product-detail ul.colors li {
  display: table-cell;
  vertical-align: middle;
}
/* line 57, ../sass/pages/_product.scss */
#product-page #product-detail ul.colors li.color {
  width: 55px;
  height: 10px;
  padding: 0 5px;
}
/* line 62, ../sass/pages/_product.scss */
#product-page #product-detail ul.colors li.color div {
  height: 100%;
  border: 1px solid #333333;
}

/* line 2, ../sass/pages/_register.scss */
#register-page #password-meter, #user-page #change-password #password-meter {
  margin-top: 5px;
  height: 20px;
  border: 1px solid #b7b7b7;
}
/* line 7, ../sass/pages/_register.scss */
#register-page #password-meter span, #user-page #change-password #password-meter span {
  -moz-transition: width 200ms ease-in-out;
  -o-transition: width 200ms ease-in-out;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  width: 0;
  display: block;
  height: 100%;
  background: white;
  background: -moz-linear-gradient(left, white 0%, #ffa600 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(100%, #ffa600));
  background: -webkit-linear-gradient(left, white 0%, #ffa600 100%);
  background: -o-linear-gradient(left, white 0%, #ffa600 100%);
  background: -ms-linear-gradient(left, white 0%, #ffa600 100%);
  background: linear-gradient(to right, white 0%, #ffa600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffa500', GradientType=1 );
}
/* line 22, ../sass/pages/_register.scss */
#register-page #password-meter.too-weak-pass span, #user-page #change-password #password-meter.too-weak-pass span {
  width: 20%;
}
/* line 26, ../sass/pages/_register.scss */
#register-page #password-meter.weak-pass span, #user-page #change-password #password-meter.weak-pass span {
  width: 40%;
}
/* line 30, ../sass/pages/_register.scss */
#register-page #password-meter.good-pass span, #user-page #change-password #password-meter.good-pass span {
  width: 60%;
}
/* line 34, ../sass/pages/_register.scss */
#register-page #password-meter.strong-pass span, #user-page #change-password #password-meter.strong-pass span {
  width: 80%;
}
/* line 38, ../sass/pages/_register.scss */
#register-page #password-meter.very-strong-pass span, #user-page #change-password #password-meter.very-strong-pass span {
  width: 100%;
}

/* line 2, ../sass/pages/_user.scss */
#user-page .thumbnail-container {
  position: relative;
}
/* line 5, ../sass/pages/_user.scss */
#user-page .thumbnail-container .dummy {
  padding-top: 100%;
}
/* line 10, ../sass/pages/_user.scss */
#user-page .static-username {
  font-size: 24px;
}
/* line 14, ../sass/pages/_user.scss */
#user-page .payment-method-detail {
  margin: 10px 0 10px 23px;
  display: none;
}
/* line 19, ../sass/pages/_user.scss */
#user-page .payment-method:checked ~ .payment-method-detail {
  display: block;
}
/* line 24, ../sass/pages/_user.scss */
#user-page #activity li {
  padding: 0 15px;
}
/* line 27, ../sass/pages/_user.scss */
#user-page #activity li.active {
  background: orange;
}
/* line 30, ../sass/pages/_user.scss */
#user-page #activity li.active a {
  color: #fff;
}
/* line 36, ../sass/pages/_user.scss */
#user-page #activity a {
  color: #333333;
}
/* line 39, ../sass/pages/_user.scss */
#user-page #activity a:hover {
  color: orange;
}
/* line 50, ../sass/pages/_user.scss */
#user-page #user-business-form h1#business-name {
  font-size: 24px;
}
